
/* Top Nav Bar */

.nav-top{
	background-color: #806394;
	height:3em;
}
.nav-top .wrapper{
	margin:auto;
	width:1000px;
}
.float-l{
	float: left;
}
.float-r{
	float: right;
}
nav{
	display:inline-block;
	height:3em;
	vertical-align: middle;
}
nav a, nav .dropdown-button{
	display:inline-block;
	padding:.9em 1.1em;
	text-decoration: none;
	color:white;
	cursor: pointer;
}
nav a:hover, nav .dropdown-button:hover{
	background-color:#704e86;
}

/* General Body Stuff */

body{
	margin:0;
}
.main .wrapper{
	margin:auto;
	width:900px;
}
/* tabbed content browsing */
.tab-contents{
	background-color:#ddd;
	margin:0;
	padding:3em;
}
.tabs{
	background-color: grey;
}
.cf:after {
	content: "";
	clear: both;
	display: table;
}
.tabLink,.addNew{
	padding:.9em 1.1em;
	display:inline-block;
	cursor:pointer;
}
.tabLink.active{
	background-color:#ddd;
}
.tabLink:hover{
	background-color:lightgrey;
}
.tab-info{
	border-bottom:1px solid black;
}
.tab-info h3{
	margin:0;
}