
/* Top Nav Bar */

.nav-top{
	color:white;
	background-color: #806394;
	height:3em;
}
.nav-top .wrapper{
	margin:auto;
	width:1000px;
}
.float-l{
	float: left;
}
.float-r{
	float: right;
}
nav{
	display:inline-block;
	height:3em;
	vertical-align: middle;
}
nav a, nav .dropdown-button{
	color:white;
	display:inline-block;
	padding:.9em 1.1em;
	text-decoration: none;
	cursor: pointer;
	height: 3em;
    box-sizing: border-box;
}
nav a:hover, nav .dropdown-button:hover{
	background-color:#704e86;
}

.nav-top h2{
	margin:0;
	padding:.4em;
}
/* General Body Stuff */

body{
	margin:0;
	font-family: sans-serif;
}
.main .wrapper{
	margin:auto;
	width:900px;
	position:relative;
}
.nodisplay{
	display:none;
}
/* tabbed content browsing */
.tab-contents h1{
	margin-top:0;
}
.tab-contents{
	display:none;
	background-color:#ddd;
	margin:0;
	padding:3em;
}
.tab-contents.active{
	display:block !important;
}
.tabs{
	background-color: grey;
}
.cf:after {
	content: "";
	clear: both;
	display: table;
}
.tabLink,.addNew{
	padding:.9em 1.1em;
	display:inline-block;
	cursor:pointer;
}
.tabLink.active{
	background-color:#ddd;
}
.tabLink:hover{
	background-color:lightgrey;
}
.tab-info{
	border-bottom:1px solid black;
}
.tab-info h3{
	margin:0;
}
.inactive{
	pointer-events: none;
}
.center{
	text-align:center;
}
/* popups */
#popup{
	position:fixed;
	top:22%;
	left:40%;
	right:40%;
	cursor:default;
	border-radius:.5em;
	box-shadow: black 0 0 7px 0px;
}
#popup-exit{
	float: right;
	cursor:pointer;
}
#popup-exit:hover{
	background-color:white;
}
#popup-header{
	padding:.5em;
}
#popup-message{
	text-align: center;
	padding:1em;
}
#popup.error{
	background-color:lightcoral;
}
.error #popup-header{
	border-bottom:1px solid red;
}
#popup.ok{
	background-color:lightgreen;
}
.ok #popup-header{
	border-bottom:1px solid green;
}
#popup.info{
	background-color:#ccc;
}
.info #popup-header{
	border-bottom:1px solid black;
}
/*  USER TABLE  */

.interactive-table tr:not(:first-of-type):hover{
	background-color:#ddd !important;
	cursor: pointer;
}
.interactive-table tr{
	border-bottom: black 1px solid;
}

/*  REVIEW TABLE */
#review-data{
	border-collapse: collapse;
}
.bar-container{
	height:1.5em;
	width:6em;
	border:1px solid #666;
	border-radius: .2em;
}
#review-data td:not(:last-of-type):not(:first-of-type){
	cursor: pointer;
}
.bar-container div{
	display:inline-block;
	height:100%;
	
}
.Work{
	background-color:lightcoral;
}
.Training{
	background-color:lightgreen;
}
.PTO{
	background-color:lightblue;
}
.Home-Office{
	background-color:lightyellow;
}
.mark-8{
	position:absolute;
	z-index:10;
	width:0;
	height:inherit !important;
	pointer-events: none;
	border-left:1px solid #666;
	margin-left:5em;
}
.bar-key{
	display:inline-block;
	height:1.5em;
	width:24em;
	border:1px solid #666;
	border-radius: .2em;
}
.bar-key div{
	width:6em;
	height:100%;
	display:inline-block;
	padding:.2em;
	text-align: center;
	box-sizing: border-box;
}
.bar-key .mark-8{
	margin-left:20em;
}
.hover-count{
	position:absolute;
	z-index:11;
	width:inherit;
	/* cursor:pointer; */
	height:inherit !important;
	padding:.2em;
	background-color:#0002;
	color:white;
	box-sizing: border-box;
	text-align: center;
	/* opacity:0; */
}
.hover-count:hover{
	opacity:1;
}
.edit-box{
	position:fixed;
	top:15%;
	left:30%;
	right:30%;
	padding:1em;
	padding-bottom:2em;
	border-radius:.5em;
	background-color:#e7e6e7;
	box-shadow: black 0 0 6px 0px;
}
.edit-exit{
	cursor:pointer;
}
.edit-exit:hover{
	background-color:white;
}
.edit-header{
	margin-bottom:2em;
	border-bottom:1px solid black;
	padding:.5em;
}
.table-form{
	margin:auto;
}
.table-form td:first-of-type:not([colspan="3"]){
	background-color:#eee;
	font-weight: bold;
	text-align:center;
}
.table-form td{
	padding:.1em;
}
.topContainer{
	margin-top:2em;
}
.topform{
	padding:1em;
	width:20em;
	margin:auto;
	background-color: #ccc;
	border-radius:.5em;
}

/*  Totals  */
#time-totals td:nth-of-type(2){
	font-weight: bold;
	font-style: italic;
}
#time-totals{
	border: 1px solid black;
}
#time-details .expander{
	height: 0;
	overflow-y: hidden;
	background: #eee;
	border-bottom-left-radius: .5em;
	border-bottom-right-radius:.5em;
	transition:height .5s;
	padding:1em;
}

#review-data td:first-of-type{
	text-align: center;
}
#time-details td:first-of-type:not(#time-history td){
	font-style: italic;
	background:#eee;
	border-radius:.5em;
}
#edit-time{
	overflow:auto;
}