
/* Top Nav Bar */

.nav-top{
	color:white;
	background-color: #806394;
	height:3em;
}
.nav-top .wrapper{
	margin:auto;
	width:1000px;
}
.float-l{
	float: left;
}
.float-r{
	float: right;
}
nav{
	display:inline-block;
	height:3em;
	vertical-align: middle;
}
nav a, nav .dropdown-button{
	color:white;
	display:inline-block;
	padding:.9em 1.1em;
	text-decoration: none;
	cursor: pointer;
}
nav a:hover, nav .dropdown-button:hover{
	background-color:#704e86;
}

.nav-top h2{
	margin:0;
	padding:.4em;
}
/* General Body Stuff */

body{
	margin:0;
	font-family: sans-serif;
}
.main .wrapper{
	margin:auto;
	width:900px;
	position:relative;
}
.nodisplay{
	display:none;
}
/* tabbed content browsing */
.tab-contents h1{
	margin-top:0;
}
.tab-contents{
	display:none;
	background-color:#ddd;
	margin:0;
	padding:3em;
}
.tab-contents.active{
	display:block !important;
}
.tabs{
	background-color: grey;
}
.cf:after {
	content: "";
	clear: both;
	display: table;
}
.tabLink,.addNew{
	padding:.9em 1.1em;
	display:inline-block;
	cursor:pointer;
}
.tabLink.active{
	background-color:#ddd;
}
.tabLink:hover{
	background-color:lightgrey;
}
.tab-info{
	border-bottom:1px solid black;
}
.tab-info h3{
	margin:0;
}
.inactive{
	pointer-events: none;
}
.center{
	text-align:center;
}
/* popups */
#popup{
	width:20em;
	background-color:lightpink;
	cursor:default;
}
#popup-exit{
	float: right;
	cursor:pointer;
}
#popup-exit:hover{
	background-color:white;
}
#popup-header{
	padding:.5em;
	border-bottom: 1px solid red;
}
#popup-message{
	text-align: center;
	padding:1em;
}
/*  USER TABLE  */

.interactive-table tr:not(:first-of-type):hover{
	background-color:#eee !important
}
.interactive-table tr{
	cursor: pointer;
	border-bottom: black 1px solid;
}

/*  REVIEW TABLE */
#review-data{
	border-collapse: collapse;
}
.bar-container{
	height:1.5em;
	width:6em;
	border:1px solid #666;
	border-radius: .2em;
}
.bar-container div{
	display:inline-block;
	height:100%;
}
.Work{
	background-color:lightcoral;
}
.Training{
	background-color:lightgreen;
}
.PTO{
	background-color:lightblue;
}
.Home-Office{
	background-color:lightyellow;
}
.mark-8{
	position:absolute;
	z-index:10;
	width:0;
	height:inherit !important;
	pointer-events: none;
	border-left:1px solid #666;
	margin-left:5em;
}
.bar-key{
	display:inline-block;
	height:1.5em;
	width:24em;
	border:1px solid #666;
	border-radius: .2em;
}
.bar-key div{
	width:6em;
	height:100%;
	display:inline-block;
	padding:.2em;
	text-align: center;
	box-sizing: border-box;
}
.bar-key .mark-8{
	margin-left:20em;
}
.hover-count{
	position:absolute;
	z-index:11;
	width:inherit;
	cursor:pointer;
	height:inherit !important;
	padding:.2em;
	background-color:#0002;
	color:white;
	box-sizing: border-box;
	text-align: center;
	opacity:0;
}
.hover-count:hover{
	opacity:1;
}